.header{
    &__inicio{
        width: 100%;
        height: 91vh;
        @include grid(2,0);
        position: relative;
        @include media(550px){
            @include grid(1,0);
        }
        &-group{
            width: 100%;
            height: 100%;
            overflow: hidden;
            &.logo{
                @include flex(column,wrap,center,center);
            }
            &.svg{
                @include flex(column,wrap,center,center);
                transform: scale(1.8);
                pointer-events: none;
                @include media(1000px){
                    transform: scale(1.5);
                }
                @include media(855px){
                    transform: scale(1.2);
                }
                @include media(630px){
                    transform: scale(1);
                }
            }
        }
        &-logo{
            width: 22rem;
            @include media(680px){
                width: 18rem;
            }
            @include media(630px){
                width: 15rem;
            }
        }
        &-svg{
            width: 100%;
        }
        &-text{
            margin-top: 5rem;
            padding: 0 2rem;
            text-transform: uppercase;
            color: $color-azul;
            letter-spacing: .1rem;
            font: {
                family: $font-title;
                weight: 800;
                size: 3.5rem;
            }
        }
        &-p{
            padding: 1rem 0;
            font: {
                family: $font-repo;
                weight: 300;
                size: 2.2rem;
            }
        }
        &-relative{
            position: relative;
        }
        &-fondo-container{
            width: 100%;
            height: 100%;
            @include flex(column,wrap,center,center);
            filter: blur(50px);
        }
        &-fondo-svg{
            animation: fotografia_svg 5s infinite alternate;
        }
        &-ilustracion{
            background: $color-blanco-3;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transform: translateY(-4%);
            @include flex(column,wrap,center,center);
        }
        &-img{
            object-fit: contain;
        }
        .flecha{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            @include flex(column,wrap,center,end);
            pointer-events: none;
            .fa-angle-double-down{
                font-size: 5rem;
                pointer-events: auto;
                cursor: pointer;
            }
        }
    }
}

@keyframes fotografia_svg{
    from{
        transform: translateY(-10%) rotate(0deg) scale(0);
    }
    to{
        transform: translateY(-10%) rotate(300deg) scale(.5);
    }
}